@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Men</title>
   <link type="text/css" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
     <style>
        body {
            background-color:#D3D3D3;
        }
    </style>
</head>
<body>
    <div class="tweaked-margin">
        <div class="container">
      <h2>Men</h2>         
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/greycasualshirt.jpg" class="thumbnail">
        <img src="/Images/greycasualshirt.jpg" alt="greycasualshirt" style="width:150px;height:150px">
      </a>
         <p class="description">Grey Casual Shirt</p>    
          <p class="price">Rs 1,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/tshirt3.jpg" class="thumbnail">
        <img src="/Images/tshirt3.jpg" alt="T-Shirt" style="width:150px;height:150px">
           
      </a>
        <p class="description">T-Shirt</p>
           <p class="price">Rs 500</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/pentcoat.jpg" class="thumbnail">     
        <img src="/Images/pentcoat.jpg" alt="2 Piece" style="width:150px;height:150px">
      </a>
        <p class="description">2 Piece</p>
           <p class="price">Rs 10,000</p>
    </div>
  </div>
</div>

      </div>
     <div class="container">     
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/RadoCentrixBlackWatch.jpg" class="thumbnail">
        <img src="/Images/RadoCentrixBlackWatch.jpg" alt="rado"  style="width:150px;height:150px">
      </a>
         <p class="description">Rado Centrix Black Watch</p>    
          <p class="price">Rs 40,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/wallet.jpg" class="thumbnail">
        <img src="/Images/wallet.jpg" alt="wallet" style="width:150px;height:150px">
           
      </a>
        <p class="description">Gucci</p>
           <p class="price">Rs 4,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/glasses.jpg" class="thumbnail">     
        <img src="/Images/glasses.jpg" alt="glasses" style="width:150px;height:150px">
      </a>
        <p class="description">Glasses</p>
           <p class="price">Rs 2,999</p>
    </div>
  </div>
</div>
     <div class="container">     
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/sho1.jpg" class="thumbnail">
        <img src="/Images/sho1.jpg" alt="footwear"  style="width:150px;height:150px">
      </a>
         <p class="description">Foot wear</p>    
          <p class="price">Rs 5,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/sho2.jpg" class="thumbnail">
        <img src="/Images/sho2.jpg" alt="footwear" style="width:150px;height:150px">
           
      </a>
        <p class="description">Foot wear</p>
           <p class="price">Rs 2,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/sho3.jpg" class="thumbnail">     
        <img src="/Images/sho3.jpg" alt="footwear" style="width:150px;height:150px">
      </a>
        <p class="description">Foot wear</p>
           <p class="price">Rs 2550</p>
    </div>
  </div>
</div>
</body>
</html>

