@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Women</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="~/js/jRCarousel.js"></script>
    <style>
        body {
            background-color:#FFE4C4;
        }
    </style>
</head>

<body>

    <div class="tweaked-margin">
        <div class="container">
      <h2>Women</h2>     
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/em.jpg" class="thumbnail">
        <img src="/Images/em.jpg" alt="Embroiderre kurti" style="width:150px;height:150px">
      </a>
         <p class="description">Embroiderre kurti</p>    
          <p class="price">Rs 1199</p> 
        <button type="button" value="Add to Cart" />
    </div>
    <div class="col-md-4">
      <a href="/Images/casual.jpg" class="thumbnail">
        <img src="/Images/casual.jpg" alt="casual dress" style="width:150px;height:150px">
           
      </a>
        <p class="description">Casual Dress</p>
           <p class="price">Rs 4,500</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/wintercoat.jpg" class="thumbnail">     
        <img src="/Images/wintercoat.jpg" alt="Winter Coat" style="width:150px;height:150px">
      </a>
        <p class="description">Winter Coat</p>
           <p class="price">Rs 2,000</p>
    </div>
  </div>
</div>

      </div>
     <div class="container">     
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/forw2.jpg" class="thumbnail">
        <img src="/Images/forw2.jpg" alt="footwear"  style="width:150px;height:150px">
      </a>
         <p class="description">Foot wear</p>    
          <p class="price">Rs 3,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/wshoes.jpg" class="thumbnail">
        <img src="/Images/wshoes.jpg" alt="Foot wear" style="width:150px;height:150px">
           
      </a>
        <p class="description">Foot wear</p>
           <p class="price">Rs 2,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/wshoes1.png" class="thumbnail">     
        <img src="/Images/wshoes1.png" alt="Foot wear" style="width:150px;height:150px">
      </a>
        <p class="description">Foot wear</p>
           <p class="price">Rs 2,999</p>
    </div>
  </div>
</div>
     <div class="container">     
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/handb1.jpg" class="thumbnail">
        <img src="/Images/handb1.jpg" alt="handbag"  style="width:150px;height:150px">
      </a>
         <p class="description">Handbag</p>    
          <p class="price">Rs 2,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/handb2.jpg" class="thumbnail">
        <img src="/Images/handb2.jpg" alt="handbag" style="width:150px;height:150px">
           
      </a>
        <p class="description">Handbag</p>
           <p class="price">Rs 4,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/handb3.jpg" class="thumbnail">     
        <img src="/Images/handb3.jpg" alt="Handbag" style="width:150px;height:150px">
      </a>
        <p class="description">Handbag</p>
           <p class="price">Rs 2550</p>
    </div>
  </div>
</div>
</body>
</html>
