@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Children</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color:#F0F8FF;
        }
    </style>
</head>
<body>
    <div class="tweaked-margin">
        <div class="container">
      <h2>Children</h2>         
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/kd1.jpg" class="thumbnail">
        <img src="/Images/kd1.jpg" alt="girlsdress" style="width:150px;height:150px">
      </a>
         <p class="description">Girls Dress</p>    
          <p class="price">Rs 3,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/kd2.jpg" class="thumbnail">
        <img src="/Images/kd2.jpg" alt="girldress" style="width:150px;height:150px">
           
      </a>
        <p class="description">Girl Dress</p>
           <p class="price">Rs 1500</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/kd3.jpg" class="thumbnail">     
        <img src="/Images/kd3.jpg" alt="Girldress" style="width:150px;height:150px">
      </a>
        <p class="description">Girl Dress</p>
           <p class="price">Rs 2,000</p>
    </div>
  </div>
</div>

      </div>
     <div class="container">     
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/ksho1.jpg" class="thumbnail">
        <img src="/Images/ksho1.jpg" alt="footwear"  style="width:150px;height:150px">
      </a>
         <p class="description">Foot Wear</p>    
          <p class="price">Rs 2,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/kho2.jpg" class="thumbnail">
        <img src="/Images/kho2.jpg" alt="Footwear" style="width:150px;height:150px">
           
      </a>
        <p class="description">Foot wear</p>
           <p class="price">Rs 1500</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/ksho3.jpg" class="thumbnail">     
        <img src="/Images/ksho3.jpg" alt="footwear" style="width:150px;height:150px">
      </a>
        <p class="description">Foot Wear</p>
           <p class="price">Rs 2,999</p>
    </div>
  </div>
</div>
     <div class="container">     
  <div class="row">
    <div class="col-md-4">
      <a href="/Images/kb1.jpg" class="thumbnail">
        <img src="/Images/kb1.jpg" alt="boydress"  style="width:150px;height:150px">
      </a>
         <p class="description">Boys Dress</p>    
          <p class="price">Rs 2,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/kb2.jpg" class="thumbnail">
        <img src="/Images/kb2.jpg" alt="boydress" style="width:150px;height:150px">
           
      </a>
        <p class="description">Boy Dress</p>
           <p class="price">Rs 3,000</p>
    </div>
    <div class="col-md-4">
      <a href="/Images/kb3.jpg" class="thumbnail">     
        <img src="/Images/kb3.jpg" alt="boydress" style="width:150px;height:150px">
      </a>
        <p class="description">Boy Dress</p>
           <p class="price">Rs 2550</p>
    </div>
  </div>
</div>
</body>
</html>


