@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aboutus</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
     <div class="tweaked-margin" id="mar">
    <div class="container">
    <h1>A little bit about OnlineShopping</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est quam, feugiat vitae placerat quis, laoreet 
        at massa. Suspendisse ipsum purus, volutpat mattis fringilla quis, adipiscing vitae est. Pellentesque vel tortora 
        odio, ut auctor erat. Pellentesque vel nibh volutpat neque luctus faucibus eu vel augue. Integer vulputate auctor 
        erat ac venenatis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        
        Mauris lorem urna, porttitor at tristique cursus, tincidunt vitae tellus. Sed felis neque, aliquam sit amet accum, 
        tincidunt a tortor. Vestibulum ultricies fringilla diam, ut auctor risus tempus scelerisque. Phasellus mollis vul 
        mauris sit amet commodo. Donec mollis tempus nibh vitae volutpat. Suspendisse porta congue dui eget blandit ajssj. 
        In non risus eu magna placerat pellentesque non eu arcu. In hac habitasse platea dictumst.
        <div class="tweaked-margin" id="img">
             <img src="/Images/About.jpg" alt="image"/>
        </div>
       
        </div>

    </div>
</body>
</html>
